{% extends 'base.html' %}

{% block title %} Integração - Admin page {% endblock %}

{% block content %}
    {% if acesso == 1 %}
        <div class="p-2 py-4">

            <div class="row m-4">
                <div class="p-2 col-12 col-md-6">
                    <div class="bg-black p-4 rounded-5">
                        <form action="/add_adocao" method="get" id="form-criar-adocao">
                            <h1 class="text-light">Nova adoção</h1>

                            <div class="form-group my-3">
                                <label for="select-curso-id" class="form-label text-light">Curso</label>
                                <select class="form-select bg-dark border-dark text-light" name="select-curso-id" id="select-curso-id" required>
                                    <option value="">Selecione</option>
                                    {% for curso in cursos %}
                                        <option value="{{ curso.id }}">{{ curso.sigla }} ({{ curso.turno | lower }})</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group my-3">
                                <label for="select-calouro-id" class="form-label text-light">Calouro</label>
                                <select class="form-select bg-dark border-dark text-light" name="select-calouro-id" id="select-calouro-id" required disabled>
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                            <div class="form-group my-3">
                                <label for="select-veterano-id" class="form-label text-light">Veterano</label>
                                <select class="form-select bg-dark border-dark text-light" name="select-veterano-id" id="select-veterano-id" required disabled>
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                            <button class="btn btn-primary my-4 m-auto d-block" type="submit">Confirmar</button>
                        </form>
                    </div>
                </div>

                <div class="p-2 col-12 col-md-6">
                    <div class="card rounded-4 p-3 bg-dark text-light d-flex justify-content-center">
                        <h4>Alunos sem adoção</h4>
                        <table id="quant-alunos" class="table table-striped table-dark text-nowrap">
                            <thead>
                                <th>Curso</th>
                                <th class="text-center">Veteranos</th>
                                <th class="text-center">Calouros</th>
                                <th class="text-center">Tem duplas</th>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <p class="d-flex justify-content-center m-0">
                <button class="btn btn-dark rounded-0 rounded-top w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAdocoes" aria-expanded="false" aria-controls="collapseAdocoes">
                    Adoções
                </button>
            </p>
            <div class="collapse p-0 m-0" id="collapseAdocoes">
                <div class="card card-body p-0 bg-dark overflow-x-scroll">
                    <table class="table table-dark table-striped m-0">
                        <thead>
                            <th class="id">ID</th>
                            <th class="curso">Curso</th>
                            <th class="notificados">Notificados</th>
                            <th class="calouro">Calouro</th>
                            <th class="calouro_wpp">Whatsapp</th>
                            <th class="veterano">Veterano</th>
                            <th class="veterano_wpp">Whatsapp</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>

            <p class="d-flex justify-content-center m-0">
                <button class="btn btn-dark rounded-0 rounded-top w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCalouros" aria-expanded="false" aria-controls="collapseCalouros">
                    Calouros
                </button>
            </p>
            <div class="collapse p-0 m-0" id="collapseCalouros">
                <div class="card card-body p-0 bg-dark overflow-x-scroll">
                    <table class="table table-dark table-striped m-0">
                        <thead>
                            <th class="id">ID</th>
                            <th class="nome">Nome</th>
                            <th class="sobrenome">Sobrenome</th>
                            <th class="idade">Idade</th>
                            <!-- <th class="whatsapp">Whatsapp</th> -->
                            <!-- <th class="semestre">Semestre</th> -->
                            <!-- <th class="sobre">Sobre</th> -->
                            <th class="curso">Curso</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>

            <p class="d-flex justify-content-center m-0">
                <button class="btn btn-dark rounded-0 rounded-top w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseVeteranos" aria-expanded="false" aria-controls="collapseVeteranos">
                    Veteranos
                </button>
            </p>
            <div class="collapse p-0 m-0" id="collapseVeteranos">
                <div class="card card-body p-0 bg-dark overflow-x-scroll">
                    <table class="table table-dark table-striped m-0">
                        <thead>
                            <th class="id">ID</th>
                            <th class="nome">Nome</th>
                            <th class="sobrenome">Sobrenome</th>
                            <th class="idade">Idade</th>
                            <!-- <th class="whatsapp">Whatsapp</th> -->
                            <!-- <th class="sobre">Sobre</th> -->
                            <th class="curso">Curso</th>
                            <th class="semestre">Semestre</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div id="warning-erro" class="warning d-flex align-items-end justify-content-center" hidden>
            <div class="bg-danger d-flex flex-column align-items-center justify-content-center rounded-3">
                <span class="close-warning w-100 text-end p-1"><i class="bi bi-x-lg"></i></span>
                <div class="text-light p-2 px-3">
                    <p class="text-light"><strong>Erro ao registrar adoção.</strong></p>
                </div>
            </div>
        </div>
        
        <div id="warning-sucesso" class="warning d-flex align-items-end justify-content-center" hidden>
            <div class="bg-success d-flex flex-column align-items-center justify-content-center rounded-3">
                <span class="close-warning w-100 text-end p-1"><i class="bi bi-x-lg"></i></span>
                <div class="text-light p-2 px-3">
                    <p class="text-light"><strong>Adoção registrada.</strong></p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="d-flex justify-content-center align-items-center w-100 h-100 py-5">
            <div class="bg-dark text-light rounded-4 p-5">
                <form method="post" id="form-acessar-admin" action="{{ url_for('main.admin') }}">
                    <p>Senha de adminstrador</p>
                    <input type="password" class="form-control btn-dark" id="admin_pw_input" name="admin_pw_input">
                    {% if acesso == -1 %}
                        <span class="text-danger">Senha incorreta.</span>
                    {% endif %}
                    <div class="d-flex justify-content-between mt-5">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Acessar</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="../static/scripts/admin.js"></script>
{% endblock %}